<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.26.0" targetFramework="net46" />
  <package id="Autofac" version="4.6.1" targetFramework="net461" />
  <package id="C5" version="2.5.3" targetFramework="net461" />
  <package id="NetMQ" version="4.0.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net461" />
  <package id="protobuf-net" version="2.3.2" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net461" />
  <package id="TypedConfigProvider" version="1.1.0" targetFramework="net461" />
  <package id="WindowsService.Host" version="0.0.0.7" targetFramework="net461" />
</packages>