<?xml version="1.0" encoding="utf-8"?>

<!--layout="${longdate} [${level:uppercase=true}] ${message}"-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target xsi:type="File"
            name="file"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${message}" />
    <target xsi:type="EventLog"
            name="eventLog"
            layout="${longdate} [${level:uppercase=true}] ${message}"
            source="rawf" />
  </targets>

  <rules>
    <logger name="fileLogger" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>